.sec-page-side-L-container{
    background:transparent;
    height:866px;
    margin-top:145px;
    float:left;

}
.sec-page-side-L-content{
    background:#121416CF;
    width:410px;
    height:866px;
    float:left;
}
.sec-page-side-L-head{
    background:transparent;
    height:70px;
    width:375px;
    margin-left:18px
}
.sec-page-side-L-head-item{
    background:#32363B;
    margin-left:2px;
    height:60px;
    float:left;
    width:123px
}
.sec-page-side-L-head-item-active{
    background:#32363B;
    margin-left:2px;
    height:60px;
    float:left;
    width:123px;
    border-bottom: solid 2px #45A29E;
}
.head-item-h5{
    /* font:normal 20px/27px Segoe UI; */
    font-size: 20px;
    color:#A6A7A8;
    margin-top:15px;
    margin-left:25px
}
.sec-page-side-L-pages{
    background:treansparent;
    height:790px;
}
.page-container{
    background:treansparent;
    height:100%;

}
.page-search{
    background:#4F5458E6 0% 0% no-repeat padding-box;
    border-radius: 32px;
    width:320px;
    height:23px;
    /* font:normal 20px/27px Segoe UI; */
    color:#A6A7A8;
    padding:20px;
    border:0px;
    margin-left:25px;
    text-align:right
}
.first-page-container{
    height: 730px;
}
.first-page-item{
    background:#52575CE3;
    width:340px;
    height:63px;
    margin:auto;
    margin-top:5px;
    padding:5px
}
.first-page-item-cols{
    float: left;
    /* margin-left: 20px; */
}
.first-page-item-cols-4{
    float: right;
    margin-right:15px;
}
.first-page-item-cols-4 h4{
    /* font:normal 20px/27px Segoe UI; */
    font-size:20px;
    margin-top: 13px;
    color:#A6A7A8
}
.first-page-item-cols-last{
    float: right;
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.sec-table{
    width:350px;
    margin:auto;
    margin-top:15px;
    background:transparent
}
.sec-table-head-item{
    text-align:left;
    /* font:normal 20px/27px Segoe UI; */
    color:#A6A7A8;
    padding-left:20px
}
.sec-page-con-container{
    width:360px;
    height:60px;
    background:#52575CE3;
    margin-left:24px;
    margin-top:30px;
}
.sec-page-con-rows{
    background:#52575CE3;
    margin-bottom:5px;
    height:60px;
    width:360px
}
.sec-page-con-cols-1{
    width:98px;
    height:16px;
    background:transparent;
    float:left;
    margin-right:20px;
    margin-left:10px;
}
.sec-page-con-cols-2{
    width:112px;
    height:16px;
    background:transparent;
    float:left;
    margin-right:20px;
}
.sec-page-con-cols-3{
    width:45px;
    height:16px;
    background:transparent;
    float:left;
}
.sec-page-con-cols-txt{
    color:#A6A7A8;
    font-size:12px;
    /* font:normal 12px/16px Segoe UI; */
    margin-top: 20px;
}

.page-3-input-container{
    background:transparent;
    height:100%;
    width:100%;
    margin:auto
}

.page-3-input{
    width:350px;
    height:45px;
    margin-left: 40px;
}
.input-1-txt-container{
    background:transparent;
    width:60px;
    height:35px;
    float:left;
    margin-left:10px
}
.input-txt{
    color:#A6A7A8;
    font-size:20px;
    /* font:  normal 20px/27px Segoe UI; */
    margin-top: 5px;
}
.input-2-txt-container{
    background:transparent;
    width:70px;
    height:40px;
    float:left;
}
.input-container{
    width:172px;
    float:left;
    margin-left:10px;
    
}
.page-3-last{
    margin-left: 35px;
    width:360px;
    height:45px;
    background:transparent;
    margin-top:90px;
}
.page-3-last-btns-item12{
    height:45px;
    width:65px;
    margin-left:10px;
    margin-top: 20px;
    background:#45A29E;
    float:left;
    border-radius: 15px;
}
.page-3-last-btns-item-3{
    height:45px;
    width:190px;
    margin-top: 20px;
    margin-left:10px;
    background:#45A29E;
    float:left;
    border-radius: 15px;
}
.page-3-last-btns-txt{
    margin-left:40px;
    margin-top:15px;
    font-size:17px;
    /* font: bold 20px/27px Segoe UI; */
    color: #121416;
}
.sec-page-side-3-page-icon{
    color:#adb5bd78;
    margin-left:23px;
    margin-right:10px;
    margin-top:14px;
    color:black;
    width:20px !important;
    height:20px;
}



/* .sec-page-side-L-btn{

} */