@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/irsans.ttf'); /* IE9 Compat Modes */
    /* src: local('Open Sans'), local('OpenSans'),
         url('../fonts/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         /* url('../fonts/open-sans-v13-latin-regular.woff2') format('woff2'), */
          /* Super Modern Browsers */
         /* url('../fonts/open-sans-v13-latin-regular.woff') format('woff'), Modern Browsers
         url('../fonts/open-sans-v13-latin-regular.ttf') format('truetype'), */
          /* Safari, Android, iOS */
         /* url('../fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); Legacy iOS */ 
  }
  /* body {
    font-family: 'IRANSans';
  } */



body {
    background: #121416 ;
    font-family: 'IRANSans';
    /* font-family:  'Mirza', cursive; */
}


